* text=auto

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.icns binary
*.woff binary
*.woff2 binary
*.ttf binary
*.zip binary
*.exe binary
*.blockmap binary
*.7z binary

package-lock.json text eol=lf